@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-primary: #1077bc;
  --color-secondary: #e7f1f8;

  --font-sans: "Inter", sans-serif;
  --font-mono: "Roboto Mono", monospace;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.no-tailwind * {
  all: revert !important;
}
